@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?hnshmo');
    src:  url('../fonts/icomoon.eot?hnshmo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hnshmo') format('truetype'),
    url('../fonts/icomoon.woff?hnshmo') format('woff'),
    url('../fonts/icomoon.svg?hnshmo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

span[class^="icon-"],span[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


i[class^="icon-"],i[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Add-large:before {
    content: "\e900";
    color: #205b5b;
}
.icon-Add-small:before {
    content: "\e901";
    color: #205b5b;
}
.icon-bold:before {
    content: "\e902";
    color: #205b5b;
}
.icon-calendar:before {
    content: "\e903";
    color: #205b5b;
}
.icon-close:before {
    content: "\e904";
    color: #205b5b;
}
.icon-edit:before {
    content: "\e905";
    color: #205b5b;
}
.icon-italic:before {
    content: "\e906";
    color: #205b5b;
}
.icon-Left .path1:before {
    content: "\e907";
    color: rgb(255, 255, 255);
}
.icon-Left .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(32, 91, 91);
}
.icon-memu-white:before {
    content: "\e909";
    color: #fff;
}
.icon-menu-small:before {
    content: "\e90a";
    color: #205b5b;
}
.icon-menu .path1:before {
    content: "\e90b";
    color: rgb(255, 255, 255);
}
.icon-menu .path2:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(32, 91, 91);
}
.icon-menu .path3:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(32, 91, 91);
}
.icon-menu .path4:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(32, 91, 91);
}
.icon-menu .path5:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(32, 91, 91);
}
.icon-menu .path6:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(32, 91, 91);
}
.icon-menu .path7:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(32, 91, 91);
}
.icon-Minus-small:before {
    content: "\e912";
    color: #205b5b;
}
.icon-minus-white-small:before {
    content: "\e913";
    color: #fff;
}
.icon-right .path1:before {
    content: "\e914";
    color: rgb(255, 255, 255);
}
.icon-right .path2:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(32, 91, 91);
}
.icon-tick .path1:before {
    content: "\e916";
    color: rgb(59, 152, 163);
}
.icon-tick .path2:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-tick .path3:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-underline:before {
    content: "\e919";
    color: #205b5b;
}
.z-icon-angle-double-down:before {
    content: "\f103";
    font-size: 20px;

}
.icon-Asset-36xxxhdpi1:before {
    content: "\e91a";
    color: #205b5b;
}
.icon-Asset-31xxxhdpi1:before {
    content: "\e91b";
    color: #205b5b;
}
.icon-Asset-32xxxhdpi1:before {
    content: "\e91c";
    color: #205b5b;
}
.icon-Asset-33xxxhdpi1:before {
    content: "\e91d";
    color: #205b5b;
}
.icon-Asset-34xxxhdpi1:before {
    content: "\e91e";
    color: #999;
    font-size: 8px;
}
.icon-Asset-35xxxhdpi1:before {
    content: "\e91f";
    color: #205b5b;
}
.z-icon-angle-double-up:before {
    content: "\f102";
    font-size: 20px;
}

.icon-Asset-28xxxhdpi1:before {
    content: "\e920";
    color: #205b5b;
}
.icon-Asset-29xxxhdpi1:before {
    content: "\e921";
    color: #205b5b;
}
.icon-Asset-30xxxhdpi1:before {
    content: "\e922";
    color: #205b5b;
}
.icon-Asset-22xxxhdpi:before {
    content: "\e923";
    color: #205b5b;
    font-size: 8px;


}
.icon-Asset-23xxxhdpi1:before {
    content: "\e924";
    color: #205b5b;
}
.icon-Asset-24xxxhdpi1:before {
    content: "\e925";
    color: #205b5b;
}

.icon-Asset-25xxxhdpi1:before {
    content: "\e926";
    color: #205b5b;
}
.icon-Asset-26xxxhdpi1:before {
    content: "\e927";
    color: #205b5b;
}
.icon-Asset-27xxxhdpi1:before {
    content: "\e928";
    color: #205b5b;
}
.icon-Asset-17xxxhdpi:before {
    content: "\e929";
    color: rgb(32, 91, 91);
}
.icon-Asset-17xxxhdpi .path1:before {
    content: "\e929";
    color: rgb(32, 91, 91);
}
.icon-Asset-17xxxhdpi .path2:before {
    content: "\e92a";
    margin-left: -0.9345703125em;
    color: rgb(32, 91, 91);
}
.icon-Asset-17xxxhdpi .path3:before {
    content: "\e92b";
    margin-left: -0.9345703125em;
    color: rgb(238, 36, 115);
}
.icon-Asset-18xxxhdpi:before {
    content: "\e92c";
    color: #205b5b;
}
.icon-Asset-19xxxhdpi:before {
    content: "\e92d";
    color: #205b5b;
}
.icon-Asset-20xxxhdpi:before {
    content: "\e92e";
    color: #205b5b;
}
.icon-Asset-21xxxhdpi:before {
    content: "\e92f";
    color: #205b5b;
}
.icon-Asset-10xxxhdpi1:before {
    content: "\e930";
    color: #205b5b;
}
.icon-Asset-11xxxhdpi1:before {
    content: "\e931";
    color: #205b5b;
}
.icon-Asset-12xxxhdpi1:before {
    content: "\e932";
    color: #205b5b;
}
.icon-Asset-13xxxhdpi1:before {
    content: "\e933";
    color: #205b5b;
}
.icon-Asset-14xxxhdpi1:before {
    content: "\e934";
    color: #205b5b;
}
.icon-Asset-8xxxhdpi1:before {
    content: "\e935";
}
.icon-Asset-9xxxhdpi1:before {
    content: "\e936";
    color: #b7e0e2;
}
.icon-Asset-5xxxhdpi1:before {
    content: "\e937";
    color: #205b5b;
}
.icon-Asset-6xxxhdpi1:before {
    content: "\e938";
    color: #205b5b;
}
.icon-Asset-7xxxhdpi1:before {
    content: "\e939";
    color: #3b99a4;
}
.icon-Asset-3xxxhdpi1:before {
    content: "\e93a";
    color: #205b5b;
}
.icon-Asset-4xxxhdpi1:before {
    content: "\e93b";
    color: #205b5b;
}
.icon-Asset-1xxxhdpi1:before {
    content: "\e93c";
    color: #205b5b;
}
.icon-Asset-2xxxhdpi1:before {
    content: "\e93d";
    color: #205b5b;
}
.icon-Asset-56xxxhdpi:before {
    content: "\e93e";
    color: #205b5b;
}
.icon-Asset-57xxxhdpi:before {
    content: "\e93f";
    color: #205b5b;
}
.icon-Asset-58xxxhdpi:before {
    content: "\e940";
    color: #205b5b;
}
.icon-Asset-59xxxhdpi:before {
    content: "\e941";
    color: #205b5b;
}
.icon-Asset-60xxxhdpi:before {
    content: "\e942";
}
.icon-Asset-61xxxhdpi:before {
    content: "\e943";
}
.icon-Asset-54xxxhdpi:before {
    content: "\e944";
    color: #3b99a4;
}
.icon-Asset-55xxxhdpi:before {
    content: "\e945";
    color: #205b5b;
}
.icon-Asset-51xxxhdpi:before {
    content: "\e946";
    color: #3b99a4;
}
.icon-Asset-52xxxhdpi:before {
    content: "\e947";
    color: #3b99a4;
}
.icon-Asset-53xxxhdpi:before {
    content: "\e948";
    color: #3b99a4;
}
.icon-Asset-48xxxhdpi:before {
    content: "\e949";
    color: #3b99a4;
}
.icon-Asset-49xxxhdpi:before {
    content: "\e94a";
    color: #3b99a4;
}
.icon-Asset-50xxxhdpi:before {
    content: "\e94b";
    color: #3b99a4;
}
.icon-Asset-45xxxhdpi:before {
    content: "\e94c";
    color: #205b5b;
}
.icon-Asset-46xxxhdpi:before {
    content: "\e94d";
    color: #205b5b;
}
.icon-Asset-47xxxhdpi:before {
    content: "\e94e";
    color: #205b5b;
}
.icon-Asset-41xxxhdpi:before {
    content: "\e94f";
    color: #205b5b;
}
.icon-Asset-42xxxhdpi:before {
    content: "\e950";
    color: #205b5b;
}
.icon-Asset-43xxxhdpi:before {
    content: "\e951";
    color: #205b5b;
}
.icon-Asset-44xxxhdpi:before {
    content: "\e952";
    color: #205b5b;
}
.icon-Asset-39xxxhdpi:before {
    content: "\e953";
    color: #205b5b;
}
.icon-Asset-40xxxhdpi:before {
    content: "\e954";
    color: #205b5b;
}
.icon-Asset-33xxxhdpi:before {
    content: "\e955";
    color: #205b5b;
}
.icon-Asset-34xxxhdpi:before {
    content: "\e956";
    color: #205b5b;
}
.icon-Asset-35xxxhdpi:before {
    content: "\e957";
    color: #205b5b;
}
.icon-Asset-36xxxhdpi:before {
    content: "\e958";
    color: #205b5b;
}
.icon-Asset-37xxxhdpi:before {
    content: "\e959";
    color: #205b5b;
}
.icon-Asset-38xxxhdpi:before {
    content: "\e95a";
    color: #205b5b;
}
.icon-Asset-28xxxhdpi:before {
    content: "\e95b";
    color: #205b5b;
    font-size: 8px;
}
.icon-Asset-29xxxhdpi:before {
    content: "\e95c";
    color: #205b5b;
}
.icon-Asset-30xxxhdpi .path1:before {
    content: "\e95d";
    color: rgb(32, 91, 91);
}
.icon-Asset-30xxxhdpi .path2:before {
    content: "\e95e";
    margin-left: -0.9345703125em;
    color: rgb(32, 91, 91);
}
.icon-Asset-30xxxhdpi .path3:before {
    content: "\e95f";
    margin-left: -0.9345703125em;
    color: rgb(238, 36, 115);
}
.icon-Asset-31xxxhdpi:before {
    content: "\e960";
    color: #205b5b;
}
.icon-Asset-32xxxhdpi:before {
    content: "\e961";
    color: #205b5b;
}
.icon-Asset-24xxxhdpi:before {
    content: "\e962";
    color: #b7e0e2;
}
.icon-Asset-25xxxhdpi:before {
    content: "\e963";
    color: #205b5b;
}
.icon-Asset-26xxxhdpi:before {
    content: "\e964";
    color: #205b5b;
}
.icon-Asset-27xxxhdpi:before {
    content: "\e965";
    color: #205b5b;
}
.icon-Asset-14xxxhdpi:before {
    content: "\e966";
    color: #3b99a4;
}
.icon-Asset-15xxxhdpi:before {
    content: "\e967";
    color: #3b99a4;
}
.icon-Asset-16xxxhdpi:before {
    content: "\e968";
    color: #3b99a4;
}
.icon-Asset-23xxxhdpi:before {
    content: "\e969";
    color: #205b5b;
}
.icon-Asset-13xxxhdpi:before {
    content: "\e96a";
    color: #3b99a4;
}
.icon-Asset-11xxxhdpi:before {
    content: "\e96b";
    color: #3b99a4;
}
.icon-Asset-12xxxhdpi:before {
    content: "\e96c";
    color: #3b99a4;
}
.icon-Asset-8xxxhdpi:before {
    content: "\e96d";
    color: #205b5b;
}
.icon-Asset-9xxxhdpi:before {
    content: "\e96e";
    color: #205b5b;
}
.icon-Asset-10xxxhdpi:before {
    content: "\e96f";
    color: #3b99a4;
}
.icon-Asset-4xxxhdpi:before {
    content: "\e970";
    color: #205b5b;
}
.icon-Asset-5xxxhdpi:before {
    content: "\e971";
    color: #205b5b;
}
.icon-Asset-6xxxhdpi:before {
    content: "\e972";
    color: #205b5b;
}
.icon-Asset-7xxxhdpi:before {
    content: "\e973";
    color: #205b5b;
}
.icon-Asset-2xxxhdpi:before {
    content: "\e974";
    color: #205b5b;
}
.icon-Asset-3xxxhdpi:before {
    content: "\e975";
    color: #3b98a3;
}
.icon-Asset-1xxxhdpi:before {
    content: "\e976";
}
